<form class="d-flex flex-c align-c" [ngClass]="(layout.handset)?'form-small':''" >
    <h1>Login</h1>

    <mat-form-field appearance="outline" color="accent">
        <mat-label>Gmail</mat-label>
        <input matInput placeholder="john123@gmail.com">
        <mat-icon matSuffix>mail</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline" color="accent">
        <mat-label>password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <button mat-raised-button color="accent">Login</button>
</form>