

<mat-drawer-container >

    <mat-drawer #drawer mode="over">Drawer content</mat-drawer>
    
    <mat-drawer-content >
      
      <mat-toolbar color="primary" >
      
        <button 
          *ngIf="layout.tab"
          type="button" mat-icon-button (click)="drawer.toggle()" >
          <mat-icon>menu</mat-icon>
        </button>
        <span>My App</span>
    
        <span class="spacer"></span>
      
        <app-navigation></app-navigation>
    
      </mat-toolbar>

      <main class="d-flex justify-c align-c" [ngClass]="layout.handset?'main-small':'main-tab'">
        <router-outlet></router-outlet>
      </main>
      
  </mat-drawer-content>
  </mat-drawer-container>